@page
@model ConqueringSpace.Model.User
@inject ConqueringSpace.Interfaces.IUsersService UsersService
@{
    ViewData["Title"] = "Manage Users";
}

<main role="main" class="pb-3">
    <div class="container">
        <form asp-action="CreateUser" asp-controller="AdminUser" method="post" class="my-4 p-4 border">
            <h2>Create User</h2>

            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" name="Name" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" name="Password" type="password" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Role">Role</label>
                <select asp-for="Role" class="form-control">
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>

        <form asp-action="DeleteUser" asp-controller="AdminUser" method="post" class="my-4 p-4 border">
            <div class="form-group">
                <label asp-for="Name">Select User to Delete</label>
                <select asp-for="Name" class="form-control">
                    @foreach (var user in await UsersService.GetAll())
                    {
                        <option value="@user.Name">@user.Name</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>

        <form asp-action="UpdateUser" asp-controller="AdminUser" method="post" class="my-4 p-4 border">
            <div class="form-group">
                <label asp-for="Id">Select User to Update</label>
                <select asp-for="Id" class="form-control">
                    @foreach (var user in await UsersService.GetAll())
                    {
                        <option value="@user.Id">@user.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" name="Name" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" name="Password" type="password" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Role">Role</label>
                <select asp-for="Role" class="form-control">
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                </select>
            </div>

            <button type="submit" class="btn btn-success">Update</button>
        </form>
    </div>
</main>
