html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
    padding-top: 56px; /* Ajoutez la hauteur de la barre de navigation fixe */
}

@media (min-width: 768px) {
    body {
        padding-top: 70px; /* Ajoutez la hauteur de la barre de navigation fixe pour les écrans de taille moyenne et supérieure */
    }
}